*{
    padding: 0;
    margin: 0;
}
.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background-color: #f2f2f2;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo ,.logo img{
    width: 80px;
    height: 80px;
    background-color: #ccc;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    padding: 10px;
    color: #2b2b2b;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #2b2bb2;
}

.sidebar-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.avatar , .avatar img{
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username {
    margin: 0;
    font-size: 16px;
}
